<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QINIUYUN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QINIUYUN.Properties.Settings>
            <setting name="SelectedAccentColor" serializeAs="String">
                <value>#FF1BA1E2</value>
            </setting>
            <setting name="SelectedFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AK" serializeAs="String">
                <value>pqkLh_2alUde8dfZxUNzAEhsVBB1ig9cqnEX-XuQ</value>
            </setting>
            <setting name="SK" serializeAs="String">
                <value>HY3IEMlucIZ2oBZrHtlE7vGeb4ZIwq6aUzx_eIig</value>
            </setting>
            <setting name="tes" serializeAs="String">
                <value />
            </setting>
        </QINIUYUN.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>